# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Heavy AI Assets
models/
*.pth
*.pt
*.bin
*.pkl
face_landmarker.task

# Local DB & Temp
*.db
uploads/
/tmp/

# System Files
.DS_Store
Thumbs.db
