fastapi
uvicorn
sqlalchemy
python-multipart
reportlab
requests
numpy
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.2.0+cpu
torchvision==0.17.0+cpu
opencv-python-headless
librosa
exifread
Pillow
matplotlib
mediapipe
moviepy
imageio-ffmpeg
