fastapi
uvicorn
sqlalchemy
python-multipart
reportlab
requests==2.28.1
numpy==1.26.3
--index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
torchvision==0.17.0
opencv-python-headless
librosa
exifread
Pillow
matplotlib
mediapipe
moviepy
imageio-ffmpeg
